In [5]:
import pandas as pd
import os

In [6]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [8]:
archivo = "hotel_bookings_1.csv"
var1, var2 = det_extension_file(archivo)
var1, var2

('hotel_bookings_1', '.csv')

In [9]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [10]:
df = dataframe_from_file(archivo)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [12]:
def dframe_to_dicc(dataframe):
    dic = {}
    dic.setdefault('COLUMNAS',[])
    dic.setdefault('TYPES',[])
    for i in range(len(df.columns)):
        dic['COLUMNAS'].append(df.columns[i])
        dic['TYPES'].append(df[dic['COLUMNAS'][i]].dtype.name)
    return dic

In [13]:
diccionario = dframe_to_dicc(df)
diccionario

{'COLUMNAS': ['hotel',
  'is_canceled',
  'lead_time',
  'arrival_date_year',
  'arrival_date_month',
  'arrival_date_week_number',
  'arrival_date_day_of_month',
  'stays_in_weekend_nights',
  'stays_in_week_nights',
  'adults',
  'children',
  'babies',
  'meal',
  'country',
  'market_segment',
  'distribution_channel',
  'is_repeated_guest',
  'previous_cancellations',
  'previous_bookings_not_canceled',
  'reserved_room_type',
  'assigned_room_type',
  'booking_changes',
  'deposit_type',
  'agent',
  'company',
  'days_in_waiting_list',
  'customer_type',
  'adr',
  'required_car_parking_spaces',
  'total_of_special_requests',
  'reservation_status',
  'reservation_status_date'],
 'TYPES': ['object',
  'int64',
  'int64',
  'int64',
  'object',
  'int64',
  'int64',
  'int64',
  'int64',
  'int64',
  'float64',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'int64',
  'int64',
  'object',
  'object',
  'int64',
  'object',
  'float64',
  'float64',
  'int64',
  'object',
  'float64',
  'int64',
  'int64',
  'object',
  'object']}

In [62]:
for i in diccionario["COLUMNAS"]:
    print(i)

hotel
is_canceled
lead_time
arrival_date_year
arrival_date_month
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
customer_type
adr
required_car_parking_spaces
total_of_special_requests
reservation_status
reservation_status_date

In [63]:
print(len(diccionario["COLUMNAS"]))

32

In [64]:
diccionario["COLUMNAS"][0]

'hotel'

In [65]:
for i in range(len(diccionario["COLUMNAS"])):
    print(i+1, "- Name column: [",diccionario["COLUMNAS"][i], "] - Type columns: [",diccionario["TYPES"][i],"]")

1 - Name column: [ hotel ] - Type columns: [ object ]
2 - Name column: [ is_canceled ] - Type columns: [ int64 ]
3 - Name column: [ lead_time ] - Type columns: [ int64 ]
4 - Name column: [ arrival_date_year ] - Type columns: [ int64 ]
5 - Name column: [ arrival_date_month ] - Type columns: [ object ]
6 - Name column: [ arrival_date_week_number ] - Type columns: [ int64 ]
7 - Name column: [ arrival_date_day_of_month ] - Type columns: [ int64 ]
8 - Name column: [ stays_in_weekend_nights ] - Type columns: [ int64 ]
9 - Name column: [ stays_in_week_nights ] - Type columns: [ int64 ]
10 - Name column: [ adults ] - Type columns: [ int64 ]
11 - Name column: [ children ] - Type columns: [ float64 ]
12 - Name column: [ babies ] - Type columns: [ int64 ]
13 - Name column: [ meal ] - Type columns: [ object ]
14 - Name column: [ country ] - Type columns: [ object ]
15 - Name column: [ market_segment ] - Type columns: [ object ]
16 - Name column: [ distribution_channel ] - Type columns: [ object ]
17 - Name column: [ is_repeated_guest ] - Type columns: [ int64 ]
18 - Name column: [ previous_cancellations ] - Type columns: [ int64 ]
19 - Name column: [ previous_bookings_not_canceled ] - Type columns: [ int64 ]
20 - Name column: [ reserved_room_type ] - Type columns: [ object ]
21 - Name column: [ assigned_room_type ] - Type columns: [ object ]
22 - Name column: [ booking_changes ] - Type columns: [ int64 ]
23 - Name column: [ deposit_type ] - Type columns: [ object ]
24 - Name column: [ agent ] - Type columns: [ float64 ]
25 - Name column: [ company ] - Type columns: [ float64 ]
26 - Name column: [ days_in_waiting_list ] - Type columns: [ int64 ]
27 - Name column: [ customer_type ] - Type columns: [ object ]
28 - Name column: [ adr ] - Type columns: [ float64 ]
29 - Name column: [ required_car_parking_spaces ] - Type columns: [ int64 ]
30 - Name column: [ total_of_special_requests ] - Type columns: [ int64 ]
31 - Name column: [ reservation_status ] - Type columns: [ object ]
32 - Name column: [ reservation_status_date ] - Type columns: [ object ]

In [86]:
import psycopg2

localhost = 'localhost'
#data_base = 'postgres'
data_base = 'TRABAJO_DE_TITULO'
user_1 = 'postgres'
pass_word = 'admin'

In [87]:
conexion = psycopg2.connect(host=localhost, database=data_base, user= user_1, password=pass_word, port = 5433)
cur = conexion.cursor()

In [94]:
cur.execute('SELECT "ID", "TIPO_DATO", "MEDIA" FROM pruebas."DICCIONARIO_DE_DATOS";')

In [95]:
for i in cur.fetchall():
    print(i)

(1, 'STRING', None)
(2, 'INTEGER', None)

In [96]:
for i in range(len(diccionario["COLUMNAS"])):
    cur.execute(""" 
            insert into pruebas."DICCIONARIO_DE_DATOS"("NOM_COL", "TIPO_DATO") VALUES (%(valor_1)s,%(valor_2)s); commit;
    """,{"valor_1" : diccionario["COLUMNAS"][i] , "valor_2":diccionario["TYPES"][i]})
# SI FUNCIONA E INSERTA DATOS