# DICCIONARIO CON COLUMNAS y DATOS DE LA BDD

In [32]:
import psycopg2

localhost = 'localhost'
#data_base = 'postgres'
data_base = 'TRABAJO_DE_TITULO'
user_1 = 'postgres'
pass_word = 'admin'

In [33]:
conexion = psycopg2.connect(host=localhost, database=data_base, user= user_1, password=pass_word, port = 5433)
cur = conexion.cursor()

In [34]:
DICC_BDD = {}
DICC_BDD.setdefault('ID',[])
DICC_BDD.setdefault('COLUMNAS',[])
DICC_BDD.setdefault('TYPES',[])

[]

In [35]:
cur.execute('SELECT "ID", "NOM_COL", "TIPO_DATO" FROM pruebas."DICCIONARIO_DE_DATOS";')

In [36]:
for i in cur.fetchall():
    print(i[0]," - ",i[1]," - ",i[2])
    DICC_BDD["ID"].append(i[0])
    DICC_BDD["COLUMNAS"].append(i[1])
    DICC_BDD["TYPES"].append(i[2])

31  -  reservation_status  -  object
1  -  hotel  -  object
2  -  is_canceled  -  int64
3  -  lead_time  -  int64
4  -  arrival_date_year  -  int64
5  -  arrival_date_month  -  object
6  -  arrival_date_week_number  -  int64
7  -  arrival_date_day_of_month  -  int64
8  -  stays_in_weekend_nights  -  int64
9  -  stays_in_week_nights  -  int64
10  -  adults  -  int64
11  -  children  -  float64
12  -  babies  -  int64
13  -  meal  -  object
14  -  country  -  object
15  -  market_segment  -  object
16  -  distribution_channel  -  object
17  -  is_repeated_guest  -  int64
18  -  previous_cancellations  -  int64
19  -  previous_bookings_not_canceled  -  int64
20  -  reserved_room_type  -  object
21  -  assigned_room_type  -  object
22  -  booking_changes  -  int64
23  -  deposit_type  -  object
24  -  agent  -  float64
25  -  company  -  float64
26  -  days_in_waiting_list  -  int64
27  -  customer_type  -  object
28  -  adr  -  float64
29  -  required_car_parking_spaces  -  int64
30  -  total_of_special_requests  -  int64

# DICCIONARIO CON DATOS SOBRE LAS COLUMNAS DE ENTRADA

In [37]:
import pandas as pd
import os

In [38]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [39]:
archivo = "hotel_bookings_1.csv"
var1, var2 = det_extension_file(archivo)
var1, var2

('hotel_bookings_1', '.csv')

In [40]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [41]:
df = dataframe_from_file(archivo)
df

FileNotFoundError: [Errno 2] File hotel_bookings_1.csv does not exist: 'hotel_bookings_1.csv'

In [12]:
def dframe_to_dicc(dataframe):
    dic = {}
    dic.setdefault('COLUMNAS',[])
    dic.setdefault('TYPES',[])
    for i in range(len(df.columns)):
        dic['COLUMNAS'].append(df.columns[i])
        dic['TYPES'].append(df[dic['COLUMNAS'][i]].dtype.name)
    return dic

In [31]:
#DICCIONARIO DE VARIABLES DEL DATAFRAME
DICC_DF = dframe_to_dicc(df)
DICC_DF

NameError: name 'df' is not defined

# COMPARAR TIPOS DE DATOS DE LA BDD Y DEL ARCHIVO DE ENTRADA

In [132]:
good_file = r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\ARCHIVOS\hotel_bookings_1.csv'
bad_file = r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\ARCHIVOS\hotel_bookings_1_26000_tail.xlsx'
df_good_file = pd.read_csv(good_file,sep = ';')
df_bad_file = pd.read_excel(bad_file)

In [133]:
df_good_file

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out

In [134]:
df_good_file.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
dtype: object

In [135]:
df_bad_file

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,City Hotel,0,0,2016,July,30,20,0,1,1.0,...,0,No Deposit,NaN,153.0,0,Transient,79.00,0,0,Check-Out
1,City Hotel,0,138,2016,July,29,16,2,3,3.1,...,0,No Deposit,9.0,NaN,0,Transient-Party,130.05,0,0,Check-Out
2,City Hotel,0,12,2016,July,30,18,1,2,1.0,...,0,No Deposit,9.0,NaN,0,Transient,134.33,0,0,Check-Out
3,City Hotel,0,138,2016,July,29,16,2,3,2.2,...,1,No Deposit,9.0,NaN,0,Transient-Party,109.25,0,0,Check-Out
4,City Hotel,0,1,2016,July,30,20,0,1,2.0,...,0,No Deposit,14.0,NaN,0,Transient,118.00,1,0,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25995,City Hotel,0,23,2017,August,35,30,2,5,2.0,...,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out
25996,City Hotel,0,102,2017,August,35,31,2,5,3.0,...,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out
25997,City Hotel,0,34,2017,August,35,31,2,5,2.0,...,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out
25998,City Hotel,0,109,2017,August,35,31,2,5,2.0,...,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out
25999,City Hotel,0,205,2017,August,35,29,2,7,2.0,...,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out

In [138]:
df_bad_file.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month          object
stays_in_weekend_nights            object
stays_in_week_nights                int64
adults                            float64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
dtype: object

In [139]:
DICC_BDD

{'ID': [31,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30],
 'COLUMNAS': ['reservation_status',
  'hotel',
  'is_canceled',
  'lead_time',
  'arrival_date_year',
  'arrival_date_month',
  'arrival_date_week_number',
  'arrival_date_day_of_month',
  'stays_in_weekend_nights',
  'stays_in_week_nights',
  'adults',
  'children',
  'babies',
  'meal',
  'country',
  'market_segment',
  'distribution_channel',
  'is_repeated_guest',
  'previous_cancellations',
  'previous_bookings_not_canceled',
  'reserved_room_type',
  'assigned_room_type',
  'booking_changes',
  'deposit_type',
  'agent',
  'company',
  'days_in_waiting_list',
  'customer_type',
  'adr',
  'required_car_parking_spaces',
  'total_of_special_requests'],
 'TYPES': ['object',
  'object',
  'int64',
  'int64',
  'int64',
  'object',
  'int64',
  'int64',
  'int64',
  'int64',
  'int64',
  'float64',
  'int64',
  'object',
  'object',
  'object',
  'object',
  'int64',
  'int64',
  'int64',
  'object',
  'object',
  'int64',
  'object',
  'float64',
  'float64',
  'int64',
  'object',
  'float64',
  'int64',
  'int64']}

In [140]:
DICC_BDD["TYPES"][0]

'object'

In [141]:
def corrobora_tipos(diccionario,df):
    col_string_input = []
    col_bdd = []
    col_string_bdd = []
    for i in range(len(df.columns)):
        if(df[df.columns[i]].dtype == 'object'):
            col_string_input.append(df.columns[i]) #columnas string de la entrada
    #print("col_string conjunto de entrada: ", col_string_input)
    for j in range(len(diccionario["COLUMNAS"])):
        col_bdd.append(diccionario["COLUMNAS"][j]) #guardo todas las columnas del diccionario por orden
        if(diccionario["TYPES"][j] == 'object'):
            col_string_bdd.append(diccionario["COLUMNAS"][j]) #columnas string de la bdd
    for k in range(len(col_string_bdd)):
        if(col_string_bdd[k] in col_string_input):
            col_string_input.remove(col_string_bdd[k]) #se quitan las col string que deben serlo segun bdd
    #print("\n")
    #print("Columnas string en la entrada que no lo son en el la bdd: ", col_string_input)
    types_bdd = []
    types_input = []
    for l in range(len(col_string_input)):
        var = df[col_string_input[l]].dtype
        types_input.append(var)
    for m in range(len(diccionario["COLUMNAS"])):
        if(diccionario["COLUMNAS"][m] in col_string_input):
            var1 = diccionario["TYPES"][m]
            types_bdd.append(var1)
    for n in range(len(col_string_input)):
        print("La columna [{}], por contexto tiene el tipo de dato {}, pero en la entrada tiene el tipo {}, puede que existan datos de otro tipo en la columna, corregir el archivo y reprocesarlo.".format(col_string_input[n],types_bdd[n],types_input[n]))
        print("\n")
                       
            
        
    
    
    '''
    col_df = df.columns.values
    for i in range(len(diccionario["COLUMNAS"])):
        #print(i,diccionario["COLUMNAS"][i],diccionario["TYPES"][i])
        col_bdd = diccionario["COLUMNAS"][i]
        type_col_bdd = diccionario["TYPES"][i]
        if()
        #if(type_col_bdd  ['int64','float64']):
        #    if(type_col_bdd != df[col_bdd].dtype):
        #        print("La columna [{}], debe ser de tipo {} según el diccionario, pero es de tipo {}, verificar registros en la columna en el archivo de entrada y reprocesar.".format(col_bdd,type_col_bdd,df[col_bdd].dtype))
        #        print("\n")
            #print(col_bdd)
            #print(df[col_bdd].dtype)
    '''

In [142]:
corrobora_tipos(DICC_BDD,df_good_file)

In [143]:
corrobora_tipos(DICC_BDD,df_bad_file)

La columna [arrival_date_day_of_month], por contexto tiene el tipo de dato int64, pero en la entrada tiene el tipo object, puede que existan datos de otro tipo en la columna, corregir el archivo y reprocesarlo.


La columna [stays_in_weekend_nights], por contexto tiene el tipo de dato int64, pero en la entrada tiene el tipo object, puede que existan datos de otro tipo en la columna, corregir el archivo y reprocesarlo.