In [2]:
import pandas as pd
import os

In [3]:
def det_extension_file(archivo):
    name_file, extension_file = os.path.splitext(archivo)
    return name_file, extension_file

In [4]:
archivo = r'C:\Users\ivan1\Desktop\Modelo-predictivo-de-errores-en-los-datos\hotel_bookings_1.csv'
var1, var2 = det_extension_file(archivo)
var1, var2

('C:\\Users\\ivan1\\Desktop\\Modelo-predictivo-de-errores-en-los-datos\\hotel_bookings_1',
 '.csv')

In [5]:
def dataframe_from_file(archivo):
    aux1 , aux2 = os.path.splitext(archivo)
    if (aux2) == '.csv':
        dataframe = pd.read_csv(archivo)
    if (aux2) == '.xlsx':
        dataframe = pd.read_excel(archivo)
    return dataframe

In [6]:
df = dataframe_from_file(archivo)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [7]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
df.columns[0]

'hotel'

# MODA

In [9]:
import statistics as stat

edades = [21, 17, 89, 76, 32, 21, 45, 21, 89, 21, 15, 89, 21]

moda=stat.mode(edades)

print(moda)

21

In [10]:
hotel = df["hotel"]
hotel

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [11]:
hotel_moda = stat.mode(hotel)
hotel_moda

'City Hotel'

In [12]:
df["hotel"].mode()[0]

'City Hotel'

In [13]:
modas_df = {}
modas_df.setdefault('COLUMNAS',[])
modas_df.setdefault('MODA',[])

[]

In [14]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], )
          #," Moda: ", stat.mode(df[df.columns[i]]))

Columna 0 : hotel
Columna 1 : is_canceled
Columna 2 : lead_time
Columna 3 : arrival_date_year
Columna 4 : arrival_date_month
Columna 5 : arrival_date_week_number
Columna 6 : arrival_date_day_of_month
Columna 7 : stays_in_weekend_nights
Columna 8 : stays_in_week_nights
Columna 9 : adults
Columna 10 : children
Columna 11 : babies
Columna 12 : meal
Columna 13 : country
Columna 14 : market_segment
Columna 15 : distribution_channel
Columna 16 : is_repeated_guest
Columna 17 : previous_cancellations
Columna 18 : previous_bookings_not_canceled
Columna 19 : reserved_room_type
Columna 20 : assigned_room_type
Columna 21 : booking_changes
Columna 22 : deposit_type
Columna 23 : agent
Columna 24 : company
Columna 25 : days_in_waiting_list
Columna 26 : customer_type
Columna 27 : adr
Columna 28 : required_car_parking_spaces
Columna 29 : total_of_special_requests
Columna 30 : reservation_status
Columna 31 : reservation_status_date

In [15]:
for i in range(len(df.columns)):
    print("Columna",i,":",df.columns[i], df[df.columns[i]].mode()[0])

Columna 0 : hotel City Hotel
Columna 1 : is_canceled 0
Columna 2 : lead_time 0
Columna 3 : arrival_date_year 2016
Columna 4 : arrival_date_month August
Columna 5 : arrival_date_week_number 33
Columna 6 : arrival_date_day_of_month 17
Columna 7 : stays_in_weekend_nights 0
Columna 8 : stays_in_week_nights 2
Columna 9 : adults 2
Columna 10 : children 0.0
Columna 11 : babies 0
Columna 12 : meal BB
Columna 13 : country PRT
Columna 14 : market_segment Online TA
Columna 15 : distribution_channel TA/TO
Columna 16 : is_repeated_guest 0
Columna 17 : previous_cancellations 0
Columna 18 : previous_bookings_not_canceled 0
Columna 19 : reserved_room_type A
Columna 20 : assigned_room_type A
Columna 21 : booking_changes 0
Columna 22 : deposit_type No Deposit
Columna 23 : agent 9.0
Columna 24 : company 40.0
Columna 25 : days_in_waiting_list 0
Columna 26 : customer_type Transient
Columna 27 : adr 62.0
Columna 28 : required_car_parking_spaces 0
Columna 29 : total_of_special_requests 0
Columna 30 : reservation_status Check-Out
Columna 31 : reservation_status_date 2015-10-21

# VALORES MAX,MIN,MEDIA,MEDIANA,CURTOSIS DE COLUMNAS NUMERICAS

In [16]:
for i in range(len(df.columns)):
    #print(df.columns[i], " - ", df[df.columns[i]].dtype.name)
    if(df[df.columns[i]].dtype.name == 'int64' or df[df.columns[i]].dtype.name == 'int64'):
        print("NAME_COL: ",df.columns[i], " //TYPE: ", df[df.columns[i]].dtype.name, "//MAX_VAL: ",df[df.columns[i]].max(), "//MIN_VAL: ",df[df.columns[i]].min(), "//MEDIA: ",df[df.columns[i]].mean(), "//MEDIANA: ",df[df.columns[i]].median(), "//CURTOSIS: ", df[df.columns[i]].kurt())

NAME_COL:  is_canceled  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.37041628277075134 //MEDIANA:  0.0 //CURTOSIS:  -1.7120049858378619
NAME_COL:  lead_time  //TYPE:  int64 //MAX_VAL:  737 //MIN_VAL:  0 //MEDIA:  104.01141636652986 //MEDIANA:  69.0 //CURTOSIS:  1.6964488485585467
NAME_COL:  arrival_date_year  //TYPE:  int64 //MAX_VAL:  2017 //MIN_VAL:  2015 //MEDIA:  2016.156554150264 //MEDIANA:  2016.0 //CURTOSIS:  -0.9945637526390856
NAME_COL:  arrival_date_week_number  //TYPE:  int64 //MAX_VAL:  53 //MIN_VAL:  1 //MEDIA:  27.16517296255968 //MEDIANA:  28.0 //CURTOSIS:  -0.9860771763295451
NAME_COL:  arrival_date_day_of_month  //TYPE:  int64 //MAX_VAL:  31 //MIN_VAL:  1 //MEDIA:  15.798241058715135 //MEDIANA:  16.0 //CURTOSIS:  -1.1871683187282633
NAME_COL:  stays_in_weekend_nights  //TYPE:  int64 //MAX_VAL:  19 //MIN_VAL:  0 //MEDIA:  0.9275986263506156 //MEDIANA:  1.0 //CURTOSIS:  7.174066064392033
NAME_COL:  stays_in_week_nights  //TYPE:  int64 //MAX_VAL:  50 //MIN_VAL:  0 //MEDIA:  2.500301532791691 //MEDIANA:  2.0 //CURTOSIS:  24.284554815417337
NAME_COL:  adults  //TYPE:  int64 //MAX_VAL:  55 //MIN_VAL:  0 //MEDIA:  1.8564033838679956 //MEDIANA:  2.0 //CURTOSIS:  1352.115116309367
NAME_COL:  babies  //TYPE:  int64 //MAX_VAL:  10 //MIN_VAL:  0 //MEDIA:  0.007948739425412514 //MEDIANA:  0.0 //CURTOSIS:  1633.9482346130965
NAME_COL:  is_repeated_guest  //TYPE:  int64 //MAX_VAL:  1 //MIN_VAL:  0 //MEDIA:  0.03191222045397437 //MEDIANA:  0.0 //CURTOSIS:  26.37007679506347
NAME_COL:  previous_cancellations  //TYPE:  int64 //MAX_VAL:  26 //MIN_VAL:  0 //MEDIA:  0.08711784906608594 //MEDIANA:  0.0 //CURTOSIS:  674.0736925840472
NAME_COL:  previous_bookings_not_canceled  //TYPE:  int64 //MAX_VAL:  72 //MIN_VAL:  0 //MEDIA:  0.13709690928888515 //MEDIANA:  0.0 //CURTOSIS:  767.2452096961523
NAME_COL:  booking_changes  //TYPE:  int64 //MAX_VAL:  21 //MIN_VAL:  0 //MEDIA:  0.22112404724013737 //MEDIANA:  0.0 //CURTOSIS:  79.39360467497997
NAME_COL:  days_in_waiting_list  //TYPE:  int64 //MAX_VAL:  391 //MIN_VAL:  0 //MEDIA:  2.321149174972778 //MEDIANA:  0.0 //CURTOSIS:  186.7930696256516
NAME_COL:  required_car_parking_spaces  //TYPE:  int64 //MAX_VAL:  8 //MIN_VAL:  0 //MEDIA:  0.06251779881062065 //MEDIANA:  0.0 //CURTOSIS:  29.998056170104352
NAME_COL:  total_of_special_requests  //TYPE:  int64 //MAX_VAL:  5 //MIN_VAL:  0 //MEDIA:  0.5713627607002262 //MEDIANA:  0.0 //CURTOSIS:  1.4925648106220497